
.Tablita{
    width: 100%;
    border: 1px solid black;
    border-spacing: 0;
}
th, td{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
}
div#encabezado{ display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    margin: 0%;
    align-items: flex-start;
    border: 1px solid blue;
    box-sizing: border-box;
    width: 100%;
    
}
div#titulo-derecho div#selfie{
    flex: 1 1 auto;
} 
    div#selfie{
        flex: 50%;
        width: 50%;
        height: 50%;
    }
    div#titulo-derecho{flex: 50%;
        max-height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 50%;
    
    }

div#titulo{
    background-color: #012550;
    color:antiquewhite; 
    font-size: 75px; 
    }

h1{margin: 0%;}

div#parr{
    font-size: 200%; 
    margin: 0%;}
.parrafo{margin: 0%;}
    
img{
    max-width: 100%;
    max-height: 100%;
}
